@using OttBlog23.Models
@model IEnumerable<Blog>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach(var blog in Model)
            {
                <div class="post-preview">
                    <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">
                        <h2 class="post-title">
                            @blog.Name
                        </h2>
                        <h3 class="post-subtitle">
                            @blog.Description
                        </h3>
                    </a>
                    <p class="post-meta">
                        Author:
                        <a href="#">@blog.BlogUser.FullName</a>
                        on @blog.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>
            }            
        </div>
    </div>
</div>

<p>
    I am an ambitious and driven software developer, with a proven ability to solve complex problems and drive efficiencies for organizations. Despite my lack of professional experience, I have honed my skills in C# and JavaScript, as well as front-end technologies such as HTML, XAML, CSS, and frameworks like .NET Core, ASP.NET, Xamarin, Blazor, and MAUI. I am a quick learner and have a solid understanding of software development principles, as demonstrated by my successful completion of various projects. I am eager to bring my passion for technology and drive for excellence to a professional setting and to continue to grow as a developer. My ability to think creatively, my passion for efficiency, and my technical proficiency make me an ideal candidate to help your organization achieve its goals. I am confident that my skills and enthusiasm will be a valuable asset to your team.
    <hr />
    See my work samples here: <a href="https://www.JuggernOtt81.com" target="_blank">www.JuggernOtt81.com</a>
</p>
@*<script>
    function created() {
        this.setProperties({
            iframeSettings: {
                attributes: {
                    readonly: 'readonly'
                }
            }
        }, false);
    }
</script>*@